/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background-color: #FFFFFF;
}
