.navbar a{
    text-transform: uppercase;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  .navbar .navbar-nav .nav-link:hover {

    color: #5c5c5c !important;
  }